<div class="container mt-2">
  <div class="card card-block">
    <div class="row">
      <app-metric class="col-sm-6" [used]="cpu.used" [available]="cpu.available">
        <metric-title>CPU</metric-title>
        <metric-description>CPU cores usage</metric-description>
      </app-metric>
      <app-metric class="col-sm-6" [used]="mem.used" [available]="mem.available">
        <metric-title>Memory</metric-title>
        <metric-description>memory usage [GB]</metric-description>
      </app-metric>
    </div>
  </div>
</div>
<div class="container mt-2">
  <div class="card card-block">
    <div class="card-body">
      <h3 class="card-header"><h4 class="card-title">Cluster 1</h4></h3>
      <table app-nodes class="table table-hover">
        <tr app-nodes-row *ngFor="let node of cluster1" [node]="node"></tr>
      </table>
      <h3 class="card-header"><h4 class="card-title">Cluster 2</h4></h3>
      <table app-nodes class="table table-hover">
        <tr app-nodes-row *ngFor="let node of cluster2" [node]="node"></tr>
      </table>
    </div>
  </div>
</div>
<template ngbModalContainer></template>
